body {
    height: 100vh;
    background-image: url(../img/numeros.jpg);
}

.global {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.principal{
    width: 800px;
    height: auto;
    min-width: 400px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    color: white;
    opacity: 0.9;
}

.input_numero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
}

.input_numero input {
    width: 400px;
    height: 5vh;
    text-align: center;
    outline: none;
    border-radius: 12px;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
